header.header.site__header
	
	.site__width
		.header__wrapper
			.header__contain
				.header__logo
					a.logo(href="./")
						img.logo__image(src="img/logo.png", alt="")
				.header__content
					h1.header__title Coding Bootcamp in Tel Aviv
					p.header__subtitle 9 weeks - starting May 12, 2019