.block-about-us

	.cols.cols--v-gut-20.cols--v-mar-17

		.cols__col.cols__col--v-gut-20.cols__col--v-pad-17.cols__col--grow-1.cols__col--md-1-3
			figure.block-about-us__image
				img(src="img/img-about.jpg", alt="")
					
		.cols__col.cols__col--v-gut-20.cols__col--v-pad-17.cols__col--grow-2.cols__col--md-1-3
			h3 Immerse yourself in Startup Nation
			p At ~1 startup per 1,000 inhabitants, Israel has the highest density of startups in the world. Almost every major tech company — Intel, Microsoft, Google, Facebook etc — has Israeli technology keeping them on the cutting edge. With its culture of entrepreneurship and tenacity, Tel Aviv breeds the best innovation.
			p Learn to code and develop great web applications next to the sea, immersed in non-stop culture and the best of Middle Eastern nightlife and cuisine. During our 9-week coding bootcamp, you’ll build several web applications and your own project, create a solid Github portfolio and learn to work within a tech team.