.block-cards

	.cols.cols--v-mar-42.cols--v-gut-50.cols--stretch
		
		.cols__col.cols__col--v-pad-42.cols__col--v-gut-50.cols__col--lg-1-2
			article.card
				h4.card__title no. 1 on Switchup
				div.card__data
					figure.card__icon
						img(src="img/labels/label-1.png", alt="")
					p.card__text Le Wagon is ranked #1 on Switchup according to student reviews.
		
		.cols__col.cols__col--v-pad-42.cols__col--v-gut-50.cols__col--lg-1-2
			article.card
				h4.card__title no. 1 on Coursereport
				div.card__data
					figure.card__icon
						img(src="img/labels/label-2.png", alt="")
					p.card__text Le Wagon is ranked #1 on Course Report according to student reviews