.block-articles

	.cols.cols--v-gut-50
		.cols__col.cols__col--v-gut-50.cols__col--lg-1-3
			article.article
				figure.article__icon.article__icon--article-1
					img(src="img/icons/icon-1.png", alt="")
				h4.article__title Regularly Updated Syllabus
				p.article__desc We never stop learning. It’s why our teachers are the best! We are constantly adapting our syllabus as coding languages advance, to make sure we give students the most relevant and cutting-edge training possible.

		.cols__col.cols__col--v-gut-50.cols__col--lg-1-3
			article.article
				figure.article__icon
					img(src="img/icons/icon-2.png", alt="")
				h4.article__title No Need for Previous Coding Experience
				p.article__desc Le Wagon’s coding bootcamp teaches you the essentials of programming through a curriculum that is suitable even for newbies with no previous coding experience.

		.cols__col.cols__col--v-gut-50.cols__col--lg-1-3
			article.article
				figure.article__icon
					img(src="img/icons/icon-3.png", alt="")
				h4.article__title Lifetime Community Membership
				p.article__desc When you join the Le Wagon community you get access to exclusive community channels, coding tips and help from our teachers, job and co-founder opportunities as well as lifetime access to our online education platform.