form.form(action="" method="POST")
	p.form__desc Want to hear more? Fill out the form below and we’ll get back to you!
	.cols.cols--stretch.cols--v-gut-20
		.cols__col.cols__col--v-gut-20.cols__col--md-1-2.cols__col--xl-1-4
			.form__field
				input.form__input(type="text" placeholder="Name")

		.cols__col.cols__col--v-gut-20.cols__col--md-1-2.cols__col--xl-1-4
			.form__field
				input.form__input(type="phone" placeholder="Phone")

		.cols__col.cols__col--v-gut-20.cols__col--md-1-2.cols__col--xl-1-4
			.form__field
				input.form__input(type="email" placeholder="Email")

		.cols__col.cols__col--v-gut-20.cols__col--md-1-2.cols__col--xl-1-4
			.form__field
				button.form__submit(type="submit") Send