form.form(action="" method="POST")
	p.form__desc.form__desc--footer Want to go further and learn to code in 9 weeks? Fill out the form below and we’ll get back to you!
	p.form__desc.form__desc--secondary Next Tel Aviv coding bootcamp starts on May 12, 2019
	.cols.cols--stretch.cols--v-gut-20
		.cols__col.cols__col--v-gut-20.cols__col--md-1-2.cols__col--xl-1-4
			.form__field
				input.form__input(type="text" placeholder="Name")

		.cols__col.cols__col--v-gut-20.cols__col--md-1-2.cols__col--xl-1-4
			.form__field
				input.form__input(type="phone" placeholder="Phone")

		.cols__col.cols__col--v-gut-20.cols__col--md-1-2.cols__col--xl-1-4
			.form__field
				input.form__input(type="email" placeholder="Email")

		.cols__col.cols__col--v-gut-20.cols__col--md-1-2.cols__col--xl-1-4
			.form__field
				button.form__submit(type="submit") Send