- var title = "Coding Bootcamp | Le Wagon"

include ./data/index-data
include ./mixins/_mixins

<!DOCTYPE html>
//- html(lang="he" dir="rtl")
html(lang="en")
	head
		include ./partials/_head
	body.site
		.site__wrapper
			include ./partials/_header
			include ./pages/index/_main
			include ./partials/_footer
		include ./partials/_foot