// SCREEN SIZES
screen-xs-max = 575.98px
screen-sm-min = 576px
screen-sm-max = 767.98px
screen-md-min = 768px
screen-md-max = 991.98px
screen-lg-min = 992px
screen-lg-max = 1199.98px
screen-xl-min = 1200px

screen-desc-min = screen-lg-min

main_width-thin = 1230px
main_width = 1350px
main_width-wide = 1505px

// FONTS
font__text = "Graphik", sans-serif
font__title = "CircularStd", sans-serif


// COLORS
color__brand1 = #ffc65a
color__brand2 = #fd070e

color__bg = #ffffff
color__bg-section = #fcf5e8
color__text = #0e0000
color__title = color__text
color__link = color__brand2

color__light = #ffffff
color__dark = #000000
color__grey = #bfbebe

color__hover = lighten(color__link, 10%)

// TYPOGRAPHY
fz = 19px
fz__lh = 1.80171em
fz__small = 0.8em

// h2
h1 = 81px
h1__lh = 1em
h1__small = 53px

// h2
h2 = 30px
h2__lh = 1.2em
h2__small = 0.8em

// h3
h3 = 27px
h3__lh = 1.2em
h3__small = 0.8em

// h4
h4 = 25px
h4__lh = 1.2em
h4__small = 0.8em
h4__margin = 1.25em

// h5
h5 = 20px
h5__lh = 1.2em
h5__small = 0.8em
h5__margin = 1.25em

// h6
h6 = 16px
h6__lh = 1.2em
h6__margin = 1em