.block-about-us
	text-align left
	
	p
		font-size 19px
		font-weight 300
		letter-spacing -0.032em
		line-height 1.789474em
		margin 0 0 22px

	h3
		margin 0 0 15px
		
	&__image
		padding-top 4px
		
		img
			width 100%
			height auto